body,
html {
  margin: 0;
  padding: 0;
  font-family: Heebo, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.row {
  margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

button {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

button:focus {
  outline: none;
}

button:disabled {
  opacity: 0.45 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.btn-primary,
.btn-outline-primary {
  height: 50px;
}

.safari.keyboard .app-container {
  bottom: 270px;
}

.question-card {
  width: 60%;
  margin: 30px auto;
}
